<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 480px)" href="../css/mediaquery.css">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <title>Ithra | Book a Consultant</title>

</head>

<body>
    <header>
        <div class="header-container-ithra flex-d">
            <!-- <div> -->
            <div id="header-left" class="flex-d">
                <div class="header-top-left flex-d">
                    <a href="#">Login</a>
                    <a href="#">My Courses</a>
                    <a href="#">Arabi</a>
                </div>
                <div class="header-bottom-left flex-d">
                    <a href="#">Home</a>
                    <a href="#">Courses</a>
                    <a href="#">Book a Consultant</a>
                    <a href="#">About</a>
                    <a href="#">FAQ</a>
                </div>
            </div>

            <div class="header-right flex-d">
                <img src="../images/ithra-logo-blue.png" alt="ithra">
            </div>
        </div>
    </header>


    <section id="section-one-consultation-details" class="flex-d">

        <h1 class="heading-consultation">Book a Consultantion</h1>
        <p class="consulatation-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
            voluptatum quam voluptate pariatur molestias, veritatis mollitia magnam explicabo voluptatem blanditiis,
            nostrum ea voluptatibus expedita qui, sapiente aut dignissimos nam amet similique! Sed consequatur beatae
            magni officiis amet quasi! Id voluptatem itaque, necessitatibus minus dolores deserunt optio asperiores.</p>
    </section>


    <section id="section-two-form" class="flex-d">
        <form action="">
            <div class="form-input-details flex-d">

                <label for="fullname" class="form-style">Full Name</label><br>
                <input type="text" name="fullname" id="fullname" placeholder="placeholder Here"> <br>
                <label for="email" class="form-style">Email</label><br>
                <input type="email" name="email" id="email" placeholder="placeholder Here"><br>
                <label for="phnumber" class="form-style">Phone number</label><br>
                <input type="text" name="phnumber" id="phnumber" placeholder="placeholder Here">

            </div>
            <div class="checkbox-inquiries">
                <label for="">
                    <p class="form-style">
                        Why do you want to book this consultation session?
                    </p>
                </label>

                <input type="checkbox" id="inquirie-one" class="bx-checkbox" name="" value="">
                <label for="inquirie-one">Inquiries about Ithra Academy </label><br>

                <input type="checkbox" id="inquirie-two" class="bx-checkbox" name="" value="">
                <label for="inquirie-two"> Inquiries about the domains</label><br>

                <input type="checkbox" id="inquirie-three" class="bx-checkbox" name="" value="">
                <label for="inquirie-three">Inquiries about certain course </label><br>

                <input type="checkbox" id="other-inquirie-checkbox" class="bx-checkbox" name="other-inquirie" value="">
                <label for="other-inquirie">other </label><br><br>
                <input type="text" name="other-inquirie" id="other-inquirie" placeholder="placeholder Here">

            </div>

            <div class="feedback-form flex-d">

                <label for="more-info" class="form-style">Tell us more (optional)</label><br>
                <input type="text" name="more-info" id="more-info" placeholder="placeholder Here"><br>
                <label for="date-book" class="form-style">please select the prefered date and time</label><br>
                <input type="date" name="date-book" id="date-book"
                    placeholder="Calendar view showing workdays of next month only">
            </div>

            <div class="radio-book-time">
                <input type="radio" id="slot-one" name="book-slot">
                <label for="slot-one">8:00 am - 8:30 am</label><br>
                <input type="radio" id="slot-two" name="book-slot">
                <label for="slot-two">8:00 am - 8:30 am</label><br>
                <input type="radio" id="slot-three" name="book-slot">
                <label for="slot-three">8:00 am - 8:30 am</label><br>
                <input type="radio" id="slot-four" name="book-slot">
                <label for="slot-four">8:00 am - 8:30 am</label><br>
                <input type="radio" id="slot-five" name="book-slot">
                <label for="slot-five">8:00 am - 8:30 am</label><br>

            </div>
            <div class="btn-bookslot">
                <input type="submit" name="bookslot" id="bookslot" value="Book slot">
            </div>


        </form>
    </section>

    <footer>
        <div class="footer-main-container flex-d">
            <div class="footer-link-container flex-d">
                <div class="footer-contact-container flex-d">
                    <p class="heading-contact">Contact Us</p>
                    <dic class="contact-details">
                        <p>International: +966-13-186-9799</p>
                        <p>Toll free: 800-122-1224</p>
                        <p>Email: info@ithra.com</p>
                    </dic>
                </div>
                <div class="footer-quick-link-one-container flex-d">
                    <a href="#">Quick Links</a>
                    <a href="#">About Ithra Academy</a>
                    <a href="#">Courses</a>
                    <a href="#">Coaching</a>
                    <a href="#">FAQ</a>
                    <a href="#">About Ithra</a>
                    <a href="#">Visit Ithra</a>
                    <a href="#">Ithra Website</a>
                </div>
                <div class="footer-quick-link-two-container flex-d">
                    <a href="#">Quick Links</a>
                    <a href="#">About Ithra Academy</a>
                    <a href="#">Courses</a>
                    <a href="#">Coaching</a>
                    <a href="#">FAQ</a>
                    <a href="#">About Ithra</a>
                    <a href="#">Visit Ithra</a>
                    <a href="#">Ithra Website</a>
                </div>
            </div>
            <div class="footer-social-media-links flex-d">
                <div class="footer-left-content">
                    <div class="social-medial-logo flex-d">
                        <i class="ph-bold ph-instagram-logo"></i>
                        <i class="ph-bold ph-twitter-logo"></i>
                        <i class="ph-bold ph-youtube-logo"></i>
                        <i class="ph-bold ph-facebook-logo"></i>
                    </div>
                </div>
                <div class="footer-right-content">
                    <div class="ithra-logo-footer flex-d">
                        <img src="../images/ithra-logo-white.png" alt="Ithra">
                    </div>
                </div>
            </div>
            <div id="footer-hr" class="flex-d">

            </div>
            <div class="footer-end flex-d">
                <a href="#">&copy 2021 Saudi Arabian Oil Co. King Abdulaziz Center for World Culture</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </footer>
</body>

</html>