<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day-2 | css </title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 480px)" href="../css/media.css">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>

<body>
    <header>
        <a href="#"><i class="ph ph-fire"></i>Logo</a>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Product</a>
        <select name="services" id="services">
            <option value="">services</option>
            <option value="">option1</option>
            <option value="">option2</option>
            <option value="">option3</option>
        </select>
        <div class="search">
            <input type="text" name="searchbar" id="">
            <button class="search-btn">
                <a href="#">search</a>
            </button>
        </div>
        <!-- <div class="collapse-btn">
                <i class="ph ph-list"></i>
        </div> -->
    </header>

    <section id="section-one">
    <div class="main">
        <p id="text-heading">Dramatically Engage</p>
        <p id="text-lower">Objectively innovate empowered manufacuterd product whereas parallel platforms</p>
        <div class="div-button">
            <button class="engage"><a href="">Enagage Now</a> </button>
        </div>
    </div>
    <div class="main-home">
        <div class="text-head">Superior Collaboration <span> &nbsp; Visualize Quality</span> </div>
        <div class="text-base">Proactively ensuined muhmoss based expertise and cross media growth sauinges. Seamlessly
            visto quality intcllectual capital without supener colaboration and alca sharing. Holisicaly ponéiltzaile
            installed hese purish ule maintainable productm</div>
        <div class="card-container">
            <div class="card">
                <img src="../images/card-img.png" alt="" width="260" height="220">
                <p class="txt-main">Efficentyy unleash</p>
                <p class="txt-sec">Colaboratively admismate empowered markets vin plug and-play networks. Dynamically
                    procrastinate 820 users ather installed base benefits. Dramancally visualize customer directed
                    convergence without revolutionary RO</p>
            </div>
            <div class="card">
                <img src="../images/card-img.png" alt="" width="260" height="220">
                <p class="txt-main">Efficentyy unleash</p>
                <p class="txt-sec">Colaboratively admismate empowered markets vin plug and-play networks. Dynamically
                    procrastinate 820 users ather installed base benefits. Dramancally visualize customer directed
                    convergence without revolutionary RO</p>
            </div>
            <div class="card">
                <img src="../images/card-img.png" alt="" width="260" height="220">
                <p class="txt-main">Efficentyy unleash</p>
                <p class="txt-sec">Colaboratively admismate empowered markets vin plug and-play networks. Dynamically
                    procrastinate 820 users ather installed base benefits. Dramancally visualize customer directed
                    convergence without revolutionary RO</p>
            </div>
        </div>
    </div>
</section>
<section id="section-two">
    <div class="extra-content">
        <div class="main-card">
            <img src="../images/card-img.png" alt="" width="260" height="220">
            <p class="txt-main">Efficentyy unleash</p>
            <p class="txt-sec">Colaboratively admismate empowered markets vin plug and-play networks. Dynamically
                procrastinate 820 users ather installed base benefits. Dramancally visualize customer directed
                convergence without revolutionary RO</p>
            <div class="btn-task">
                <button class="task">
                    <a href="#">uleash</a>
                </button>
            </div>
        </div>
        <div class="main-card">
            <img src="../images/card-img.png" alt="" width="260" height="220">
            <p class="txt-main">Efficentyy unleash</p>
            <p class="txt-sec">Colaboratively admismate empowered markets vin plug and-play networks. Dynamically
                procrastinate 820 users ather installed base benefits. Dramancally visualize customer directed
                convergence without revolutionary RO</p>
            <div class="btn-task">
                <button class="task">
                    <a href="#">uleash</a>
                </button>
            </div>
        </div>
        <div class="main-card">
            <img src="../images/card-img.png" alt="" width="260" height="220">
            <p class="txt-main">Efficentyy unleash</p>
            <p class="txt-sec">Colaboratively admismate empowered markets vin plug and-play networks. Dynamically
                procrastinate 820 users ather installed base benefits. Dramancally visualize customer directed
                convergence without revolutionary RO</p>
            <div class="btn-task">
                <button class="task">
                    <a href="#">uleash</a>
                </button>
            </div>
        </div>
    </div>
</section>
    <footer>
        <div class="footer-main">
            <div class="link">
                <a href="#">Terms & Conditions</a>|
                <a href="#">Privacy Policy</a>|
                <a href="#">Contact</a>
            </div>
            <div class="copyright">
                Copyright &copy; Example.com 2015
            </div>
        </div>
    </footer>
</body>

</html>