<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ithra acadamy</title>
    <link rel="icon" href="https://www.ithra.com/application/files/5716/4370/3405/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 480px)" href="../css/mediaquery.css">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

</head>

<body>
    <section class="bg-img">
        <header>
            <div class="header-container-ithra flex-d">
                <!-- <div> -->
                <div id="header-left" class="flex-d">
                    <div class="header-top-left flex-d">
                        <a href="#">Login</a>
                        <a href="#">My Courses</a>
                        <a href="#">Arabi</a>
                    </div>
                    <div class="header-bottom-left flex-d">
                        <a href="#">Home</a>
                        <a href="#">Courses</a>
                        <a href="#">Book a Consultant</a>
                        <a href="#">About</a>
                        <a href="#">FAQ</a>
                    </div>
                </div>
                <!-- </div> -->
                <div class="header-right flex-d">
                    <img src="../images/ithra-logo.png" alt="ithra">
                </div>
            </div>
        </header>
        <section id="section-one">
            <div class="container-ithra flex-d">
                <h1 id="main-text" class="m-10">Ithra Acadamy</h1>
                <h4 id="secomdary-text" class="m-10">Unlimited Learning</h4>
                <div class="btn-view-calander flex-d m-10">
                    <a href="#">
                        <p id="btn-text-calander">View Calender</p>
                    </a>
                </div>
                <p id="Description-main" class="m-10">
                    Designed for emerging creatives and established professionals. Ithra Academy builds your skills and
                    empowers your passion through pioneering courses in six domains.
                </p>
            </div>
        </section>
    </section>
    <section id="section-two" class="flex-d">
        <div class="left-img">
            <img src="../images/section-two-img.png" alt="ithra">
        </div>
        <div class="right-content flex-d ">
            <div class="content-first">
                <p class="main-txt">immerse</p>
                <p class="second-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam expedita
                    adipisicing elit. Quisquam expedita
                    tempora </p>
            </div>
            <div class="content-second">
                <p class="main-txt">Broaden</p>
                <p class="second-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam expedita
                    adipisicing elit. Quisquam expedita
                    tempora </p>
            </div>
            <div class="content-third">
                <p class="main-txt">Emerge</p>
                <p class="second-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam expedita
                    adipisicing elit. Quisquam expedita
                    tempora </p>
            </div>
        </div>
    </section>
    <section id="section-three-academy-domain" class="flex-d">
        <p class="heading-three"> Academy Domains</p>
        <div class="course-main-list flex-d">
            <!-- course main container -->
            <div class="course-main-card" id="Course-card-one">
                <!-- main card container -->
                <div class="course-card-img">
                    <img src="../images/section-three-img-literacy.png" alt="Literacy">
                </div>
                <div class="course-content">
                    <p class="course-name">Literacy</p>
                    <p class="course-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates magni delectus rerum?
                    </p>
                    <div class="btn-explore-course flex-d">
                        <a href="#">
                            <p class="ph-bold ph-info txt-black">Explore Course</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="course-main-card" id="course-card-two">
                <!-- //main card container -->
                <div class="course-card-img">
                    <img src="../images/section-three-img-arts-design.png" alt="Art & Design">
                </div>
                <div class="course-content">
                    <p class="course-name">Art & Design</p>
                    <p class="course-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates magni delectus rerum?
                    </p>
                    <div class="btn-explore-course flex-d">
                        <a href="#">
                            <p class="ph-bold ph-info txt-black">Explore Course</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="course-main-card" id="course-card-three">
                <!-- //main card container -->
                <div class="course-card-img">
                    <img src="../images/section-three-img-science-technology.png" alt="Science & Technology">
                </div>
                <div class="course-content">
                    <p class="course-name">Science & Technology</p>
                    <p class="course-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates magni delectus rerum?
                    </p>
                    <div class="btn-explore-course flex-d">
                        <a href="#">
                            <p class="ph-bold ph-info txt-black">Explore Course</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="course-main-card" id="course-card-four">
                <!-- //main card container -->
                <div class="course-card-img">
                    <img src="../images/section-three-img-creative-leadership.png" alt="Creative Leadership">
                </div>
                <div class="course-content">
                    <p class="course-name">Creative Leadership</p>
                    <p class="course-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates magni delectus rerum?
                    </p>
                    <div class="btn-explore-course flex-d">
                        <a href="#">
                            <p class="ph-bold ph-info txt-black">Explore Course</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="course-main-card" id="course-card-five">
                <!-- //main card container -->
                <div class="course-card-img">
                    <img src="../images/section-three-img-film-performing-arts.png" alt="Film & Performing Arts">
                </div>
                <div class="course-content">
                    <p class="course-name">Film & Performing Arts</p>
                    <p class="course-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates magni delectus rerum?
                    </p>
                    <div class="btn-explore-course flex-d">
                        <a href="#">
                            <p class="ph-bold ph-info txt-black">Explore Course</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="course-main-card" id="course-card-six">
                <!-- //main card container -->
                <div class="course-card-img">
                    <img src="../images/section-three-img-music.png" alt="Music">
                </div>
                <div class="course-content">
                    <p class="course-name">Music</p>
                    <p class="course-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates magni delectus rerum?
                    </p>
                    <div class="btn-explore-course flex-d">
                        <a href="#">
                            <p class="ph-bold ph-info txt-black">Explore Course</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-four-services" class="flex-d">
        <p class="heading-four">Services</p>
        <p class="services-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus neque officiis,
            odit doloribus dicta eum exercitationem esse dolorum, autem ab error mollitia sunt officia soluta. Quaerat,
            libero, tempora tenetur beatae itaque amet explicabo illum aliquid laborum maxime minus at voluptate
            quibusdam quia natus numquam voluptatem quisquam ad? Ipsa!
        </p>
        <div class="services-list">
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, itaque. Provident, nihil.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, itaque. Provident, nihil.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, itaque. Provident, nihil.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, itaque. Provident, nihil.</li>
            </ul>
        </div>
    </section>

    <section id="section-five-our-partners">
        <p class="heading-five">
            Our Partners
        </p>
        <div class="partner-list-container flex-d">
            <div class="partner-data flex-d">
                <img src="../images/section-five-logo.png" alt="Our Partner">
            </div>
            <div class="partner-data flex-d">
                <img src="../images/section-five-logo.png" alt="Our Partner">
            </div>
            <div class="partner-data flex-d">
                <img src="../images/section-five-logo.png" alt="Our Partner">
            </div>
            <div class="partner-data flex-d">
                <img src="../images/section-five-logo.png" alt="Our Partner">
            </div>
            <div class="partner-data flex-d">
                <img src="../images/section-five-logo.png" alt="Our Partner">
            </div>
            <div class="partner-data flex-d">
                <img src="../images/section-five-logo.png" alt="Our Partner">
            </div>
        </div>
    </section>

    <section id="section-six-subscribe" class="flex-d">
        <div class="section-six-main-container">
            <p>Subscribe to get updates <span>on new courses</span> </p>
            <div class="input-email">
                <input type="text" name="Email" id="Email" placeholder="Email">
            </div>
            <div class="btn-subscribe flex-d">
                <a href="#">Subscribe</a>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-main-container flex-d">
            <div class="footer-link-container flex-d">
                <div class="footer-contact-container flex-d">
                    <p class="heading-contact">Contact Us</p>
                    <dic class="contact-details">
                        <p>International: +966-13-186-9799</p>
                        <p>Toll free: 800-122-1224</p>
                        <p>Email: info@ithra.com</p>
                    </dic>
                </div>
                <div class="footer-quick-link-one-container flex-d">
                    <a href="#">Quick Links</a>
                    <a href="#">About Ithra Academy</a>
                    <a href="#">Courses</a>
                    <a href="#">Coaching</a>
                    <a href="#">FAQ</a>
                    <a href="#">About Ithra</a>
                    <a href="#">Visit Ithra</a>
                    <a href="#">Ithra Website</a>
                </div>
                <div class="footer-quick-link-two-container flex-d">
                    <a href="#">Quick Links</a>
                    <a href="#">About Ithra Academy</a>
                    <a href="#">Courses</a>
                    <a href="#">Coaching</a>
                    <a href="#">FAQ</a>
                    <a href="#">About Ithra</a>
                    <a href="#">Visit Ithra</a>
                    <a href="#">Ithra Website</a>
                </div>
            </div>
            <div class="footer-social-media-links flex-d">
                <div class="footer-left-content">
                    <div class="social-medial-logo flex-d">
                        <i class="ph-bold ph-instagram-logo"></i>
                        <i class="ph-bold ph-twitter-logo"></i>
                        <i class="ph-bold ph-youtube-logo"></i>
                        <i class="ph-bold ph-facebook-logo"></i>
                    </div>
                </div>
                <div class="footer-right-content">
                    <div class="ithra-logo-footer flex-d">
                        <img src="../images/ithra-logo.png" alt="Ithra">
                    </div>
                </div>
            </div>
            <div id="footer-hr" class="flex-d">
                <!-- <hr> -->
            </div>
            <div class="footer-end flex-d">
                <a href="#">&copy 2021 Saudi Arabian Oil Co. King Abdulaziz Center for World Culture</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </footer>
</body>

</html>